.clients {
    margin-top: 320px;
    background-image: url(../img/clients/Frame.svg);
    background-position: bottom;
    background-repeat: repeat-x;
    padding-bottom: 350px;
}

@media screen and (max-width: 1050px) {
    .clients {
        margin-top: 80px;
    }
}

@media screen and (max-width: 800px) {
    .clients {
        display: none;
    }
}

.clients__container {
    max-width: 1226px;
    margin: 0 auto;
}

.container {}

.clients__content {
    
}


.clients__content-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 45px;
}

.clients__content h2 {
    font-family: 'Yeseva One';

    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;

    color: #181818;
}

.tools__img {}

.clienst__img {
    margin-bottom: 25px;
}

.tools__line {}

.-title__line {}

.clients__text {
    font-size: 18px;
    line-height: 29px;
    text-align: center;

    color: #363636;
}

.clients__cards {
    display: flex;
    flex: 0 1 33.3333%;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0 5px;
}

@media screen and (max-width: 785px) {
    .clients__cards{
        justify-content: center;
    }
}

.box__shadow{
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.063);
    padding: 20px 20px 70px 30px;
}

.client__card-content {
    max-width: 370px;
    min-width: 200px;


    margin-bottom: 50px;
}

.client__card-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.client__card-header img {
    border-radius: 100%;
    margin-right: 10px;
}

.card__header-title {
    font-family: 'Yeseva One';

    font-weight: 700;
    font-size: 18px;
    line-height: 23px;

    color: #181818;

}

.client__card-text {
    color: #959595;
    font-size: 13px;

    line-height: 23px;
}

.client__terms {
    display: flex;
    margin-top: -22px;
    
}

.terms-1 {
    background-color: #E3B873;
    display: flex;
    align-items: center;
    

    margin-right: 1px;
    padding: 10px 20px;
}

.terms-1 img{
    width: 27px;
    margin-right: 12px;
}

.terms__text {
    color: #fff;
    font-family: 'Yeseva One';
    font-weight: 700;
    font-size: 17px;
}

.terms-2 {
    display: flex;
    background-color: #E3B873;
    align-items: center;
    padding: 10px 20px;

}

.terms-2 img{
    width: 27px;
    margin-right: 12px;
    
}