.repair {
    margin-bottom: 200px;
}

.repair__container {
    max-width: 1226px;
    margin: 0 auto;
}

.container {
    padding: 0 23px;
}

.repair__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.repair__title {
    color: black;
}

.title {}

.tools__img {
    display: flex;
    align-items: center;

    margin-bottom: 25px;
}

.tools__line {}

.-title__line {}

.repair__cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px 0 -5px;
    justify-content: center;
}

.card__bg {
    position: relative;
    margin-bottom: 100px;
    /* flex: 0 1 33.3333%; */
    padding: 0 5px;
}

@media screen and (max-width: 1050px) {
    .card__bg:last-child {
        margin-bottom: 70px;
    }
}

.card__bg img {
    width: 100%;
}

.card__content {
    flex: 0 1 33.3333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
    margin-top: -150px;
    align-items: center;
}

@media screen and (max-width: 367px) {
    .card__content {
        margin-top: -100px;
    }
}

.card__text {
    background-color: #fff;
    /* margin-bottom: -100px; */
    min-width: 320px;
    padding: 25px 31px 55px 31px;
    overflow: auto;

    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

@media screen and (max-width: 367px) {
    .card__text {
        padding: 12px 39px 26px 15px;
        min-width: 200px;
    }
}

.card__text h3 {
    font-family: 'Yeseva One';
    font-weight: 700;
    font-size: 19px;

    margin-bottom: 12px;
    color: #363636;
}

.card__text ul {
    overflow: auto;
    height: 200px;
    padding-right: 5px;
}

.card__text ul::-webkit-scrollbar {
    width: 6px;
}

.card__text ul::-webkit-scrollbar-track {
    background: #131313;
    border-radius: 20px;
}

.card__text ul::-webkit-scrollbar-thumb {
    background-color: #dead5e;
    border-radius: 20px;
    border: 3px solid #dead5e;

}

.card__text ul li {
    color: #959595;
    display: flex;
    align-items: center;
}

.card__text ul li::before {
    content: "";
    display: inline-block;
    background-color: #959595;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    margin-right: 5px
}

.card__text ul li:not(:last-child) {
    margin-bottom: 8px;
}

.card__button {
    display: inline-block;

    margin-top: -25px;
    margin-left: -96px;
    padding: 12px 30px;
    max-width: 250px;

    background-color: #E3B873;
    color: #fff;

    font-family: 'Yeseva One';
    font-weight: 700;
    font-size: 18px;

    text-transform: uppercase;

    transition: all linear .5s;
}

.card__button:hover{
    background-color: #dead5e;
}

@media screen and (max-width: 367px) {
    .card__button {
        font-size: 12px;
        margin-top: -17px;
    }
}